@{
    bool isLoggedIn = ViewBag.IsLoggedIn ?? false;
    string username = ViewBag.Username ?? "Guest";
    string role = ViewBag.Role ?? "Homeowner"; // Default to Homeowner
    string portalTitle = role == "Administrator" ? "Administrator Portal" :
    role == "Staff" ? "Staff Portal" : "Subdivision Portal";
}

<link rel="stylesheet" href="~/css/header.css" asp-append-version="true" />

<header class="navbar navbar-expand-lg">
    <a class="navbar-brand" asp-controller="Home" asp-action="Index">@portalTitle</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse justify-content-between" id="navbarNav">
        @if (isLoggedIn)
        {
            <ul class="navbar-nav mx-auto">
                <li class="nav-item">
                    <a class="nav-link" asp-controller="Announcements" asp-action="Index" title="Announcements">
                        <i class="fas fa-bullhorn"></i>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" asp-controller="Forum" asp-action="Index" title="Forums">
                        <i class="fas fa-newspaper"></i>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" asp-controller="Payments" asp-action="Index" title="Payments">
                        <i class="fas fa-credit-card"></i>
                    </a>
                </li>

                @if (role == "Homeowner")
                {
                    <li class="nav-item">
                        <a class="nav-link" asp-controller="FacilityBooking" asp-action="Index" title="Facility Booking">
                            <i class="fas fa-calendar-alt"></i>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" asp-controller="ServiceRequests" asp-action="Index" title="Service Request">
                            <i class="fas fa-tools"></i>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" asp-controller="ContactDirectory" asp-action="Index" title="Contact Directory">
                            <i class="fas fa-address-book"></i>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" asp-controller="Billing" asp-action="Dashboard" title="Billing & Payments">
                            <i class="fas fa-file-invoice-dollar"></i>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" asp-controller="Feedback" asp-action="Index" title="Feedback & Complaints">
                            <i class="fas fa-comment-dots"></i>
                        </a>
                    </li>
                }
                <li class="nav-item">
                    <a class="nav-link" asp-controller="Poll" asp-action="Index" title="Polls & Surveys">
                        <i class="fas fa-poll"></i>
                    </a>
                </li>
            </ul>
        }

        <ul class="navbar-nav">
            @if (isLoggedIn)
            {
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown"
                        aria-expanded="false">
                        <i class="fas fa-user"></i> <span class="username">@username</span>
                    </a>
                    <ul class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
                        @if (role == "Homeowner")
                        {
                            <li><a class="dropdown-item" asp-controller="Homeowner" asp-action="Profile">Profile</a></li>
                            <li><a class="dropdown-item" asp-controller="FacilityReservation" asp-action="Book">Book a
                                    Facility</a></li>
                        }
                        <li><a class="dropdown-item" href="#" data-toggle="modal" data-target="#logoutModal">Logout</a></li>
                    </ul>
                </li>
            }
            else
            {
                <li class="nav-item">
                    <a class="nav-link btn btn-primary text-white" data-toggle="modal" data-target="#loginModal">Login</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link btn btn-secondary text-white" data-toggle="modal"
                        data-target="#registerModal">Register</a>
                </li>
            }
        </ul>
    </div>
</header>